<div class="container">
    <div class="flex">
        <div class="sidebar">
            <img src="https://source.unsplash.com/1600x1000/?students" alt="" class="card-img">

        </div>
        <div class="feed">
            <form action="" [formGroup]="studentAccess">
                <h1 class="text-center text-secondary">Student Login</h1>
            <hr>
                <div class="row">
                    <label for="email">Email:<span style="color: red;">*</span></label>
                    <input class="form-control m-2" formControlName="email">  
                </div>
                
                <div class="row">
                    <label for="name">Password:<span style="color: red;">*</span></label>
                    <input class="form-control m-2" formControlName="password">  
                </div>
                
                    <button class="btn btn-success text-center mt-3" (click)="formclick()">Login</button>
                    <div class="newuser"><a routerLink="/register" routerLinkActive="active">New User?</a></div>
                                    
            </form>
        </div>

    </div>
    
</div>
